<% @page_title = "DrinkRobot.com - Register"%>
<%= flash[:alert] %>
<h2>Registration</h2>

<%= form_for(resource_name, resource, :url => registration_path(resource_name), :html => { :class => "styledform" }) do |f| %>
  <% if f.error_messages %><p><span id="notice"><%= f.error_messages %></span></p><% end %>
  <%= f.label :email %>
  <p><%= f.text_field :email %></p>

  <%= f.label :password %>
  <p><%= f.password_field :password %></p>

  <%= f.label :password_confirmation %>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up", :class => 'super button green' %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
