<p class="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @favorite.id %>
</p>

<p>
  <b>Userid:</b>
  <%= @favorite.userid %>
</p>

<p>
  <b>Recipeid:</b>
  <%= @favorite.recipeid %>
</p>


<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
