<% if @recipes.length == 0 %>
	<p>No Results Found</p>
<% else %>
	<%= will_paginate @recipes %>
	<br/>
	<% for recipe in @recipes %>
	  <div class="recipes">
		<h3 style="display:inline;">
		  <%= link_to h(recipe.name), recipe %>
		</h3>
		<div class="actions" style="display:inline;float:right;">
		  <%= link_to "Edit", edit_recipe_path(recipe) %> |
		  <%= link_to "Delete", recipe, :confirm => 'Are you sure?', :method => :delete %>
		</div>
	  </div>
	<% end %>
	<br/>
	<%= will_paginate @recipe %>
<% end %>

