<% @page_title = "DrinkRobot.com - Drink Recipes"%>

<h2 style="display:inline;">Drink Recipes</h2>
<%= link_to 'New Drink Recipe', new_recipe_path, :class => 'super button blue', :style => "float:right;" %>

<div id="recipes">
  <%= render :partial => 'recipes' %>
</div>

<br/><br/>
<h3>Cache Stats</h3>

<table>
  <tr>
    <td>Cache hits:</td>
    <td><%= @stats['get_hits'] %></td>
  </tr>
  <tr>
    <td>Cache misses:</td>
    <td><%= @stats['get_misses'] %></td>
  </tr>
  <tr>
    <td>Cache flushes:</td>
    <td><%= @stats['cmd_flush'] %></td>
  </tr>
</table>