<h2>New Drink Recipe</h2>

<% form_for(@recipe, :html => { :class => "styledform" }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
  	<%= f.label :ingredients %><br />
  	<input type="text" id="tokenize" name="ingredients" />
  </p>
  <p>
    <%= f.label :instructions %><br />
    <%= f.text_area :instructions %>
  </p>
  <p>
    <%= f.submit "Create", :class => 'super button green' %>
    <%= link_to 'Cancel', '/', :class => 'super button red' %>
  </p>
<% end %>
