<% @page_title = "DrinkRobot.com - " + @recipe.name %>

<div class="toolbar"> 
    <h1><%= @recipe.name %></h1> 
    <a href="/" class="backHome">Home</a> 
</div> 

<ul>
<% count = 0 %>
<% @ingredients.each do |ingredient| %>
	<li><p><% if !@quantities[count].nil? %><%= @quantities[count].quantity %><% end %> <%= ingredient.name %></p></li>
<% count = count + 1 %>
<% end %>
</ul>

<% if @recipe.instructions != "" %>
<p style="margin: 10px;">
  <strong>Mixing Instructions:</strong>
  <%=h @recipe.instructions %>
</p>
<% end %>

<div style="clear:both;"></div>
<br/>

<%= link_to 'Back', :back, :class => 'super button' %>
