<div>
<h2 style="display:inline;">
  <%=h @recipe.name %>
</h2>
<span style="float:right;"><a href="#"><img src="/images/heart_add.png" /> Add to Favorites</a></span>
</div>

<p>
  <ul>
  <% count = 0 %>
  <% @ingredients.each do |ingredient| %>
  	<li><% if !@quantities[count].nil? %><%= @quantities[count].quantity %><% end %> <%= ingredient.name %></li>
  	<% count = count + 1 %>
  <% end %>
   </ul>
</p>

<p>
  <strong>Mixing Instructions:</strong>
  <%=h @recipe.instructions %>
</p>
<br/>
<%= link_to 'Edit', edit_recipe_path(@recipe), :class => 'super button red' %> 
<%= link_to 'Back', :back, :class => 'super button' %>
