<% @page_title = "DrinkRobot.com - " + @recipe.name %>

<div>
	<h2 style="display:inline;font-size:32px;">
	  <%=h @recipe.name %>
	</h2>
	<div style="float:right;">
		<% if user_signed_in? %>
		<a href="#" style="font-size:24px; border: 0px black;"><img src="/images/heart_add.png" /> Add to Favorites</a><br/>
		<% end %>
	</div>
</div>


<ul>
<% count = 0 %>
<% @ingredients.each do |ingredient| %>
	<li><p><% if !@quantities[count].nil? %><%= @quantities[count].quantity %><% end %> <%= ingredient.name %></p></li>
<% count = count + 1 %>
<% end %>
</ul>

<p>
  <strong>Mixing Instructions:</strong>
  <%=h @recipe.instructions %>
</p>

<!--
<div style="display:inline;float:left;font-size:24px;padding-top:20px;">
	Share This Drink: <%= javascript_include_tag 'social' %><br/>
</div>
-->

<div style="clear:both;"></div>
<br/>
<%= link_to 'â†Back', :back, :class => 'super button' %>
<%= link_to 'Edit', edit_recipe_path(@recipe), :class => 'super button red' %> 
