<div>
<h4 style="display:inline;">
  <%=h @recipe.name %>
</h4>
<span style="float:right;"><a href="#"><img src="/images/heart_add.png" /> Add to Favorites</a></span>
</div>

<p>
  <ul>
  <% count = 0 %>
  <% @ingredients.each do |ingredient| %>
  	<li><% if !@quantities[count].nil? %><%= @quantities[count].quantity %><% end %> <%= ingredient.name %></li>
  	<% count = count + 1 %>
  <% end %>
   </ul>
</p>

<p>
  <b>Mixing Instructions:</b>
  <%=h @recipe.instructions %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
