<div id="about" class="selectable"> 
	<p><img src="/images/robot.png" height="200px" /></p> 
	<p><strong>DrinkRobot.com</strong></p> 
	<p>
		DrinkRobot was created by <strong>Kyle Powers, Katie Macias, Cole Malmberg,</strong> 
		and <strong>Xin Guo</strong> as a class project in CSCE 378 Human Computer Interaction. 
		DrinkRobot is a free service, and will always be that way. If you want to say thanks, 
		<img name="drink" src="/images/drink.png" /> 
		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HUVGH9FGSXAJQ" target="blank""> 
		buy me a drink!
		</a>
	</p>
	<p> 
		<a href="http://twitter.com/thedrinkrobot" target="_blank">@thedrinkrobot on Twitter</a> 
	</p> 
	<p><a href="#" class="grayButton goback">Back</a></p> 
</div>

<div id="search"> 
<div class="toolbar"> 
    <h1>Drink Search</h1> 
    <a href="#" class="back">Back</a> 
</div> 
<ul class="edit rounded"> 
<% form_for :recipe, :url => { :controller => "recipes", :action => "search", :name => "name" }, :html => { :class => "styledform" } do |f| %>
	<%= f.error_messages %>
	<li><%= f.text_field :name %></li>
	<li><%= f.submit "Search", :class => 'greenButton', :style => 'width:100%;' %></li>
<% end %>
</ul>
</div> 

<div id="home" class="current"> 
<div class="toolbar"> 
    <h1>DrinkRobot</h1>
    <% if user_signed_in? %>  
		<%= link_to "Sign Out", destroy_user_session_path, :class => 'button' %>
	<% else %>  
		<%= link_to "Sign In", new_user_session_path, :class => 'button' %>
	<% end %>
</div> 
<ul class="rounded"> 
	<li class="forward"><a href="#search">Search for Drink</a></li>
	<li class="forward"><a href="/recipes" target="_webapp">Browse</a></li>
	<li class="forward"><a href="#about">About</a></li>
</ul> 
<h2>Options</h2> 
<ul class="rounded"> 
    <li class="arrow"><a href="#">Switch to full site</a></li> 
</ul> 
<ul class="individual"> 
    <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:kylepowers@gmail&#046;&#099;&#111;&#109;" target="_blank">Email</a></li> 
    <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HUVGH9FGSXAJQ" target="_blank">Donate</a></li> 
</ul> 
<div class="info"> 
    <p>DrinkRobot is a free service brought to you by <a href="http://www.kylepowers.com/">Kyle Powers</a>. Please enjoy and drink responsibly!</p> 
</div> 
</div> 

